# Python cache files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
wheels/

# Logs
*.log

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# macOS system files
.DS_Store

# IDEs
.idea/
.vscode/

# Firebase (agar config files local hain)
firebase-debug.log
firebase.json
.firebaserc

# SQLite or local DB (agar use ho rahi hai)
*.sqlite3


serviceAccountKey.json